[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=GeneradorPaleta
Name=GeneradorPaleta
Comment=Genera una paleta de cinco colores